header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    align-items: center;
}


/*-----------------------------------CTA---------------------------*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*----------------------------------------Header Socials-----------------------------------*/
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*------------------------------My Photo------------------------------*/
.me{
    /*background: linear-gradient(var(--color-primary));*/
    width: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 7rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: 4rem 1rem 1 rem 1 rem;
    transition: transform 0.3s ease-in-out;
    
}

.me:hover {

    transform: scale(1.1);
}

/*------------------------------Scroll Down------------------------------*/
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0,9rem;
}

/*------------------------------------Media for Tabs-----------------------------------------------*/
@media screen and (max-width: 1024px) {
    header{
        height: 100vh;
    }

    .me{
        margin-top: 4rem;
        border-radius: 1rem;
        overflow: hidden;
        padding: 4rem 1rem 1 rem 1 rem;
        
    }
}

/*------------------------------------Media for Mobiles-----------------------------------------------*/
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .header_socials,
    .scroll_down{
        display: none;
    }
}